{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Logged out from"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="login-container">
    <form class='form-login'>
    <h1>{% trans "Till the next time!"|capfirst %}</h1>
    <p>{% trans "you are now logged out"|capfirst %}. 
    {% trans "you are welcome to"|capfirst %} <a href="{% url "login" %}">{% trans "login" %}</a> {% trans "back any time" %}.</p>
    </form>
</div>
{% endblock content %}