{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "password reset at"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="login-container">
    <form class='form-login'>
        <h1>{% trans "check your email"|capfirst %}</h1>
        <p class="justified-text">{% trans "We have sent you an email with further instructions"|capfirst %}.</p>
        <p><a href="{% url "login" %}">{% trans "Back"|capfirst %}</a></p>
    </form>
</div>
{% endblock content %}