{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Advice"|capfirst %} {{block.super}}{% endblock title %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.8/htmx.min.js" integrity="sha512-wua2xfJY3quQbT5pSx40Tp5+LD/zpw/9hARj1zsjJOA+rCq7N7pf7wlBXXdn5iGjQI5HE7svGvPz529Q3gJDiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body class="bg-danger">
        <div id="chat" hx-get="/chat/" hx-trigger="every 5s" hx-swap="innerHTML">
            {% include 'gym/chat.html' %}
        </div>
    </body>
</html>
{% endblock content %}