{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% trans "Home at"|capfirst %} {{block.super}}{% endblock title %}
{% block content %}
<div class="gradient">
    <div class="mobileindex">
      <a href="{% url 'chatadvice' %}" class="mobile-link"><h3><span>GymBuddy</span></h3></a>
    </div>
    <div class="center">
      <a href="{% url 'chatadvice' %}" class="main-link">
        <h1>
          <span>GymBuddy</span>
          <span>GymBuddy</span>
          <span>GymBuddy</span>
        </h1>
    </div>
</div>
{% endblock content %}