{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Setup at"|title %} {{ block.super }}{% endblock title %}
{% block content %}
<div class="login-container">
    <form method="post" action="{{ request.path }}" enctype="multipart/form-data" class='form-login'>
        {% csrf_token %}
        <h1>{% trans "Profile setup for generating GymBuddy"|capfirst %}</h1>
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <p><button type="submit">{% trans "Generate"|capfirst %}</button></p>
    </form>
</div>
{% endblock content %}